*{
    margin:0;
}

html,body{
    height:100%;
    background-image: url(bg3.jpg);
}

#choice{
    display: flex;
    place-content: center;
    align-items: center;
    width:100%;
    height:100%;
}

#header{
    display: flex;
    place-content: center;
    align-items: center;
    width:30%;
    margin: 10px;
    height: 30%;
    position: absolute;
    top:0;
    border-radius: 30px;
    border: none;
    background-color: rgb(255, 206, 149);
    text-align: center;
    font-size:xxx-large;
    font-family: Verdana;
}

#selection{
   display: flex;
   flex-direction: row;
   margin-top: 100px;
}

.pic{
    width:50%;
    height:  50%;
    border:1px solid black;
    margin-bottom: 20px;
}

#selection>div{
    display:flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid black;
    margin: 20px;
    padding: 20px;
    place-content: center;
    align-items: center;
}

#selection>div>img{
    width:350px;
    height: 175px;
    margin-bottom: 10px;
}

.choose{
    width:50%;
    height:30px;
    border:3px solid rgb(255, 206, 149);
    border-radius: 30px;
    background-color: rgba(255, 205, 149, 0);
}

.choose:hover{
    background-color:rgb(255, 206, 149);
    transition: 1s;
}