*{
    margin: 0;
    font-family: sans-serif;
}

body{
    background-image: url(bg.png);
    max-width: 800px;
    margin: auto;
    display: flex;
    flex-direction: column;
    
}

nav{
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    right:100px;
    padding:10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

nav a{
    padding: 10px;
    color: white;
    text-decoration:none;  
}

nav .aktuell{
    color: tomato;
}

nav a:hover{
    background-color: white;
    color: black;
}

nav a:active{
    background-color: turquoise;
}

.header{  
    display: flex;
    flex-direction: column;
    padding: 50px 100px 100px 100px;
    border-top: none;
    border-bottom-left-radius: 1000px;
    border-bottom-right-radius: 1000px;
    top: 0;
    background-color: tomato;
    margin-bottom: 40px;
}

h2{
    color: tomato;
    margin-bottom: 20px;
    font-weight: 500;
}

input, textarea{
    background-color: rgb(179, 179, 179);
    color: white;
    border: none;
    margin:5px;
    padding: 5px;
}

::placeholder{
    color: white;
}

#text{
    width: 400px;
    height: 50px;
}

#cap{
    color: rgb(151, 151, 151);
    margin: 10px 10px 10px 5px;
}

.sitebody{
    display:flex;
    flex-direction: column;
    margin-bottom: 20px;
    border:tomato 2px solid;
    padding: 50px;
    width: 800px;
    height:max-content;
}

.abschnitt{
    margin: 20px;
    width: 750px;
    display: flex;
    flex-direction: column;
}

.pics{
    object-fit:cover;
    padding: 10px;
    border-top: solid black;
    border-bottom: solid black;
}




.nav2{
    margin-right:20px;
    height: 100px;
    width: 100px;
}

.navbar2{
    display: flex;
    margin: 20px;
}

.social:hover{
    opacity: 0.5;
}

#me{
    align-self: center;
    width: 200px;
    height: 270px;
    border-radius: 50px;
}

#vid{
    border-top: solid black;
    padding:10px;
}

#audio{
    border-top: solid black;
    padding:10px;
    width: 750px; 
}
